@page "{id:int}"
@model TravelAgency.Pages.Reservations.DetailsModel

@{
	ViewData["Title"] = "Detalhes da Reserva";
}

<div class="card">
	<h1>Detalhes da Reserva</h1>
	<hr />

	<dl class="row">
		<dt class="col-sm-2">
			Cliente
		</dt>
		<dd class="col-sm-10">
			@Model.Reservation.Client.Name
		</dd>

		<dt class="col-sm-2">
			Pacote Turístico
		</dt>
		<dd class="col-sm-10">
			@Model.Reservation.TourPackage.Title
		</dd>

		<dt class="col-sm-2">
			Data da Reserva
		</dt>
		<dd class="col-sm-10">
			@Model.Reservation.ReservationDate

		</dd><dt class="col-sm-2">
			Status
		</dt>
		<dd class="col-sm-10">
			@Model.IsFull ? "Pacote Lotado" : "Vaga Confirmada"
		</dd>
	</dl>

	<div>
		<a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Reservation.Id">
			<i class="bi bi-pencil"></i> Editar
		</a> 
		<a class="btn btn-secondary" asp-page="./Index">
			Cancelar
		</a>
	</div>
</div>